*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}

.header{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    width: 100vw;
    height: 70vh ;
   
   
}
.container-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top:2.5rem;


   
}
.logo-container{
 
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.2rem;
    
}

.logo-container h3{
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;

}
.logo{
    width: 5%;
    
}

.menu-container{
    display: flex;
    justify-content: right;
    align-items: center;
   
}
.menu{
    display: flex;
    list-style: none;
    gap: 2.5rem;
    color: #fff;
}

.menu a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.menu a:hover{
    color: #9c9c9c;
}
.container-titulo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    color: #ffffffe0;
    gap: 3rem;


}
.container-titulo-principal h1{
    font-weight: 500;
    font-size: 5rem;
}
.container-titulo-principal p{
    font-size: 1.5rem;
}
.destaque{
   
    width: 100%;
   
}
.destaque-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

}
.destaque-info h4{
    color: #488CCB;
    font-weight: 200;
    font-size: 4rem;

}
.destaque-info p{
    color: #B9BBB9;
    font-size: 1.3rem;
}


.destaque-foto{
    margin-top: 90px;
    display: flex;
    justify-content: first baseline;
   

}

.destaque-foto img{
    width: 15%;
    border: 1px solid red;
}
.destaque-foto p{
    border: 1px solid blue;
}